* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background:
    linear-gradient(to bottom, rgba(255, 64, 50, 0.8), rgba(71, 17, 116, 0.9)),
    url(/bono-landing-page/images/background.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
}

.container {
  max-width: 1850px;
  width: 100%;
  margin: 0 auto;
}

.header-container {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.image-itself {
  width: 100px;
}

.list {
  display: flex;
}

.list-items {
  margin-left: 1rem;
  list-style: none;
}

main {
  color: white;
}

.input-content-container {
  flex: 2;
}

.input-content-container form {
  margin-left: 100px;
}

.main-container {
  max-width: 1200px;
  width: 50%;
  margin: 13rem auto;
}

.main-text {
  flex: 1;
  width: auto;
  margin-top: -80px;
  margin-right: 10rem;
}

.main-header {
  line-height: 40px;
  font-size: 35px;
  width: 300px;
}

.main-text-description {
  font-size: 11px;
  line-height: 1.1rem;
  margin-top: 1rem;
}

.content-container {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
}

.form-group input {
  width: 90%;
  padding: 6px 0;
  border-radius: 8px;
  border: none;
  opacity: 30%;
}

textarea {
  width: 90%;
  height: 75px;
  border-radius: 8px;
  border: none;
  opacity: 30%;
}

.btn {
  width: 90%;
  padding: 8px 0;
  background-color: rgb(255, 102, 0);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 11px;
  cursor: pointer;
}
