* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-image: url(/bono-landing-page/images/background.jpg);
}

.container {
  max-width: 1850px;
  width: 100%;
  margin: 0 auto;
}

.header-container {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.image-itself {
  width: 100px;
}

.list {
  display: flex;
}

.list-items {
  margin-left: 1rem;
  list-style: none;
}

main {
  color: white;
}

.main-container {
  max-width: 1200px;
  width: 100%;
  margin: 13rem auto;
}

.main-text {
  width: 300px;
}

.main-header {
  line-height: 40px;
}

.main-text-description {
  font-size: 11px;
  line-height: 1.1rem;
  margin-top: 1rem;
}

.content-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
  margin: 0 auto;
}
